body {
  background-color: #4f4d51;
}

.text {
  font-size: 25px;
  text-overflow: "-";
}

.word,
.space {
  display: inline;
}

.letter {
  color: #fff;
}

.letterCorrect {
  color: #bff0d4;
}

.letterWrong {
  color: #e4572e !important;
}

.container {
  font-family: arial;
  font-size: 2em;
  padding: 200px;
  text-align: center;
}

.score {
  font-family: arial;
  color: white;
  align-items: center;
}
