body {
  background-color: #333438;
}

.text {
  font-size: 25px;
  text-overflow: "-";
}

.word,

.space {
  display: inline;
}

.letter {
  color: #65666a;
}

.letterCorrect {
  color: #ffffff;
}

.letterWrong {
  color: #e4572e !important;
}


.container {
  font-family: Arial;
  font-size: 1.25em;
  padding: 260px;
  text-align: center;
}

.score {
  font-family: arial;
  color: white;
  align-items: center;
}

.button {
  background-color: transparent;
  border: 2px solid orange;
  color: white;
  border-radius: 20px;
  padding: 20px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: arial;
}

.button:hover {
  transition: 3s;
  background-color: rgb(255, 195, 85);
  opacity: 0.5;
  border-color: rgb(172, 112, 0);
}

.countdown {
  color: white;
  font-family: arial;
  font-size: 100px;
  opacity: 100%;
} 

.score {
  font-size: 100px;
  font-family: Arial;
  color: orange;
  text-align: center;
  }